[Unit]
Description=Discord Bot By Ayush Karmakar
After=network.target

[Service]
Type=exec
User=Hanekawa-san
WorkingDirectory=/home/Hanekawa-san/
ExecStart=/usr/bin/python3 -Ou main.py
Restart=unless-stopped

[Install]
WantedBy=multi-user.target
