aiohttp[speedups]
uvloop
aiosignal
aiodns
annotated-types
anyio
attrs
beautifulsoup4
Brotli
certifi
cffi
charset-normalizer
click
cryptography
discord.py[voice]
fake-useragent
fastapi
jinja2
html5lib
frozenlist
h11
idna
multidict
mutagen
Pillow
psutil
pycparser
pycryptodomex
pydantic
pydantic_core
pyradios
requests
setuptools
sniffio
soupsieve
starlette
typing_extensions
urllib3
uvicorn
websockets
yarl
decorator
dpy-paginator