aiohttp==3.9.0b0
aiosignal==1.3.1
annotated-types==0.6.0
anyio==3.7.1
attrs==23.1.0
beautifulsoup4==4.12.2
Brotli==1.1.0
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cryptography==41.0.5
discord.py==2.3.2
fake-useragent==1.3.0
fastapi==0.104.1
frozenlist==1.4.0
getch==1.0
gnupg==2.3.1
h11==0.14.0
idna==3.4
multidict==6.0.4
mutagen==1.47.0
Pillow==10.1.0
psutil==5.9.5
pycparser==2.21
pycryptodomex==3.19.0
pydantic==2.4.2
pydantic_core==2.10.1
pyradios==2.0.0
requests==2.31.0
setuptools==68.2.2
sniffio==1.3.0
soupsieve==2.5
starlette==0.27.0
typing_extensions==4.8.0
urllib3==2.0.7
uvicorn==0.24.0.post1
websockets==12.0
yarl==1.9.2
yt-dlp==2023.10.13
