<!DOCTYPE html>
<html>
<head>
	<title>Discord-Bot-Admin-Page</title>
	<link rel='stylesheet' href="/static/css/index.css"></link>
</head>
<body onload='start()'>
	<div id="container">
		<div id="gist">
			<div id="sharedata" style="float:left; width:80%;"></div>
			<div style="float:right; width:20%;">
				<button id='logbutton' onclick='refreshlog()'><img src="/static/css/refresh-discordlog.png"></button>
				<button id="errorbutton" onclick="refreshErrors()"><img src="/static/css/refresh-errors.png"></button>
			</div>
		</div>
		<div id="functions"><h3>Functions HelpBook</h3><h3>Syntax: !ara (command) (data, data, ...) //data is seperated by spaces</h3></div>
	</div>
	<div id='logs-container'>
		<div id='discord-logs'></div>	
		<div id="general-errors"></div>
	</div>
</body>
<script src="/static/scripts/index.js"></script>
</html>
